$color-matthies-green: #111;
$color-matthies-green-darker: #222;
$color-matthies-red: #333;

@mixin opacity($op) {
  opacity: $op;
}
//.page {
	.royalSlider {
		display: none;
		width: 100%;
		&.rsHor {
			display: inherit;
		}

	}

	.rsDefault .rsFullscreenIcn {
		background-color: $color-matthies-green;
		&:hover {
			background-color: $color-matthies-green-darker;
		}
		&:not(:hover) {

			@include opacity(0.5);
		}
		border-radius: 0;
	}

	.rsFullscreen .rsArrow {
		width: 200px;
	}

	.rsFullscreen .rsArrowRight .rsArrowIcn {
		left: inherit;
		right: 5px;
	}
	.rsFullscreen .rsArrowLeft .rsArrowIcn {
		left: 20px;
		right: inherit;
	}

	.rsDefault .rsThumbsArrow,
	.rsDefault .rsArrowIcn {
		background-color: $color-matthies-green !important;
		border-radius: 0;
		@include opacity(0.5);
	}
	.rsDefault .rsArrow:hover .rsArrowIcn {
		background-color: $color-matthies-green-darker !important;
		@include opacity(1);
	}
	/* Background */
	.rsDefault,
	.rsDefault .rsOverflow {
		background: transparent;
	}
	.rsDefault:not(.rsFullscreen) .rsSlide {
		background: white;
	}

	.rsDefault.rsFullscreen {
		background: rgba(black, 0.9);

	}
	.rsDefault .rsBullets {
		background: rgba(170,170,170,0.5);
	}
	.rsDefault .rsBullet {
		height: 20px;
		span {
			background: white;
		}
		&.rsNavSelected span {
			background-color: $color-matthies-red;
		}
	}

	.rsArrow,
	.rsNav,
	.rsThumbsArrow,
	.rsFullscreenBtn {
		opacity: 1;
		-webkit-transition:opacity 0.3s linear;
		-moz-transition:opacity 0.3s linear;
		-o-transition:opacity 0.3s linear;
		transition:opacity 0.3s linear;
	}

	.rsVideoPlaying .rsVideoContainer {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100% !important;
		height: 100% !important;
		margin: auto !important;
		& .rsVideoFrameHolder {
			max-width: 800px;
			max-height: 600px;
			position: inherit;
		}
	}


	.rsFullscreen .rsVideoContainer .rsMainSlideImage {
		display: none;
	}

	.rsDefault .rsCloseVideoIcn,
	.rsDefault .rsPlayBtnIcon {
		background-color: $color-matthies-green;
		border-radius: 0;
		&:hover {
			background-color: $color-matthies-green-darker !important;
		}
	}

//}
